<mat-form-field>
  <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filtrer">
</mat-form-field>
<mat-form-field class="period-filter">
  <mat-label>De</mat-label>
  <mat-select [(ngModel)]="fromPeriod" (selectionChange)="applyPeriod()">
    <mat-option *ngIf="period !== null" [value]="null">--Aucune</mat-option>
    <mat-option *ngFor="let period of periods" [value]="period.value">
      {{ period.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="period-filter">
  <mat-label>A</mat-label>
  <mat-select [(ngModel)]="toPeriod" (selectionChange)="applyPeriod()">
    <mat-option *ngIf="period !== null" [value]="null">--Aucune</mat-option>
    <mat-option *ngFor="let period of periods" [value]="period.value">
      {{ period.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<button mat-raised-button color="accent" (click)="openConfirmationDialog()">
    <mat-icon class="mat-18">update</mat-icon>
    Rafraichir les données Agirhe
</button>

<div *ngIf="isLoading" class="spinner-wrapper">
  <mat-progress-spinner class="spinner"
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</div>

<mat-table class="debts-table mat-elevation-z4" matSort [dataSource]="tableDataSource">
    <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Période</mat-header-cell>
        <mat-cell *matCellDef="let debt">{{debt.date}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="community">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Collectivité</mat-header-cell>
        <mat-cell *matCellDef="let debt">{{debt.community.label}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Montant</mat-header-cell>
        <mat-cell class="description-cell" *matCellDef="let debt">{{debt.amount}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
      <mat-cell class="description-cell"
                *matCellDef="let debt">{{debt.type}}</mat-cell>

    </ng-container>

    <ng-container matColumnDef="basis">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Assiette</mat-header-cell>
        <mat-cell class="duration-cell"
                  *matCellDef="let debt">{{debt.basis}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Supprimer</mat-header-cell>
      <mat-cell class="delete-cell" *matCellDef="let debt" (click)="$event.stopPropagation()">
        <button
          (click)="openDeleteConfirmationDialog(debt)"
          mat-mini-fab
          color="primary"
          matTooltip="Supprimer"
        >
          <mat-icon class="delete-icon mat-18">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

    <mat-row *matRowDef="let debt; columns: displayedColumns"
      (click)=rowClicked(debt)
      [ngClass]="{'selected': isDebtSelected(debt) !== -1}"
    ></mat-row>

</mat-table>

<mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
