.mat-cell, .mat-header-cell, .mat-footer-cell
    min-height: 50px
    justify-content: space-around

app-csv-upload
  float: right

.error
  .mat-cell
    color: #DA4167;

    &.label-cell
      font-weight: 600;
