<div id="match">
  <mat-card id="matches" ngDraggable *ngIf="debts.length > 0 || payments.length > 0">
      <mat-card-title>
        Rapprochement
        <mat-icon mat-button id="validate" class="mat-18" color="accent"
          *ngIf="payments.length && debts.length"
          (click)="openConfirmationDialog()"
          matTooltip="Valider le rapprochement"
        >check</mat-icon>
        <mat-icon mat-button id="clear" class="mat-18" color="accent"
          (click)="clear()"
          matTooltip="Annuler"
        >clear</mat-icon>
      </mat-card-title>

      <mat-divider></mat-divider>

      <mat-card-content id="selected-debts">
        <p *ngIf="debts.length == 0">Aucune déclaration sélectionnée</p>
        <mat-table *ngIf="debts.length > 0" class="match-debts-table" matSort [dataSource]="debtDataSource">
            <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Période</mat-header-cell>
                <mat-cell *matCellDef="let debt">{{debt.date}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="community">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Collectivité</mat-header-cell>
                <mat-cell *matCellDef="let debt">{{debt.community.label}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="amount">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Montant</mat-header-cell>
                <mat-cell *matCellDef="let debt">{{debt.amount}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="type">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
              <mat-cell *matCellDef="let debt">{{debt.type}}</mat-cell>

            </ng-container>

            <ng-container matColumnDef="basis">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Assiette</mat-header-cell>
                <mat-cell *matCellDef="let debt">{{debt.basis}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="debtColumns"></mat-header-row>

            <mat-row *matRowDef="let debt; columns: debtColumns"
            ></mat-row>

        </mat-table>
      </mat-card-content>
      <mat-divider></mat-divider>

      <mat-card-content id="selected-payments">
        <p *ngIf="payments.length == 0">Aucun virement sélectionné</p>
        <mat-table *ngIf="payments.length > 0" class="match-payments-table" matSort  [dataSource]="paymentDataSource">
          <ng-container matColumnDef="date">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Date d'encaissement</mat-header-cell>
              <mat-cell *matCellDef="let payment">{{payment.date}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="value">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Date de valeur</mat-header-cell>
              <mat-cell *matCellDef="let payment">{{payment.valueDate}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="label">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Libellé</mat-header-cell>
              <mat-cell *matCellDef="let payment">{{payment.label}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="credit">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Montant</mat-header-cell>
            <mat-cell *matCellDef="let payment">{{payment.credit}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="paymentColumns"></mat-header-row>

          <mat-row *matRowDef="let payment; columns: paymentColumns"
          ></mat-row>

        </mat-table>
      </mat-card-content>
      <mat-divider></mat-divider>

      <mat-card-content id="balance">
          <div class="total">
              <h4 id="total">
                {{ paymentTotal | number: '1.2-2' }}€ encaissés
                <span class="operator"> - </span>
                {{ debtTotal | number: '1.2-2' }}€ déclarés
                 <span class="operator">=</span>
                <span class="balance" [ngClass]="balance >= 0 ? 'positive': 'negative'">{{ balance | number: '1.2-2' }} €</span>
              </h4>
          </div>
      </mat-card-content>
  </mat-card>

  <div id="lists">
      <as-split unit="percent" [direction]="horizontal" #split="asSplit" gutterSize="20" >
        <as-split-area size="50" #debtPanel="asSplitArea">
          <h2 class="mat-display-1">Déclarations</h2>
            <div id="debts" class="column">
                <app-debts #debtsComponent (matchDebts)="debtSelected($event)"></app-debts>
              </div>
        </as-split-area>
        <as-split-area size="50" #paymentPanel="asSplitArea">
          <h2 class="mat-display-1">Virements</h2>
            <div id="payments" class="column">
                <app-payments #paymentsComponent (matchPayments)="paymentSelected($event)"></app-payments>
              </div>
        </as-split-area>
      </as-split>
  </div>
</div>

